##**Do identical twins actually have perfectly identical DNA?**

---

Our names are Kiana and Diana, and we've always been told that we are identical twins. But how identical are identical twins? Even though we look pretty similar, we definitely have some key differences - such as the texture of our hair, our height, and the age we started puberty. We've been raised  the same way our whole lives, so we would expect that in the scheme of nature vs nurture, nurture is less likely to create a difference. In theory, we should have identical DNA, but we decided to test if this is actually the case using our raw data from 23andMe.

In [ ]:
import pandas as pd

df_kiana = pd.read_csv('/Users/kiana/Downloads/genKiana.txt', delimiter='\t', on_bad_lines='warn', comment="#",
                       names=["rsid", "chr", "pos", "genotype"])
df_diana = pd.read_csv('/Users/kiana/Downloads/genDiana.txt', delimiter='\t', on_bad_lines='warn', comment="#",
names=["rsid", "chr", "pos", "genotype"])
#df.to_csv('/Users/kianaDownloads/genKiana.csv', index=False)

#dfd

##**What data are we able to get from 23andMe?**

------
23andMe collected our saliva samples and provided us with raw genotype data at 638,547 SNPs (single nucleotide polymorphisms). These SNPs are chosen from a set of locations at which people are known to have differences in their DNA. A sample of the data is shown below. Each row corresponds to an SNP and the genotype columns tells us the nucleotide we have at that position.

In [ ]:
!head -n 100 /Users/kiana/Downloads/genKiana_sample.txt

# This data file generated by 23andMe at: Wed Apr 29 12:13:05 2020
#
# This file contains raw genotype data, including data that is not used in 23andMe reports.
# This data has undergone a general quality review however only a subset of markers have been
# individually validated for accuracy. As such, this data is suitable only for research,
# educational, and informational use and not for medical or other use.
#
# Below is a text version of your data.  Fields are TAB-separated
# Each line corresponds to a single SNP.  For each SNP, we provide its identifier
# (an rsid or an internal id), its location on the reference human genome, and the
# genotype call oriented with respect to the plus strand on the human reference sequence.
# We are using reference human assembly build 37 (also known as Annotation Release 104).
# Note that it is possible that data downloaded at different times may be different due to ongoing
# improvements in our ability to call genotypes. More information about these changes can be found at:
# https://you.23andme.com/p/33037e973aee4a87/tools/data/download/
#
# More information on reference human assembly builds:
# https://www.ncbi.nlm.nih.gov/assembly/GCF_000001405.13/
#
# rsid	chromosome	position	genotype
rs548049170	1	69869	TT
rs13328684	1	74792	--
rs9283150	1	565508	AA
i713426	1	726912	AA
rs116587930	1	727841	GG
rs3131972	1	752721	AG
rs12184325	1	754105	CC
rs12567639	1	756268	AA
rs114525117	1	759036	GG
rs12124819	1	776546	--
rs12127425	1	794332	GG
rs79373928	1	801536	TT
rs72888853	1	815421	--
rs7538305	1	824398	AA
rs28444699	1	830181	AA
i713449	1	830731	--
rs116452738	1	834830	GG
rs72631887	1	835092	TT
rs28678693	1	838665	TT
rs4970382	1	840753	CT
rs4475691	1	846808	CC
rs72631889	1	851390	GG
rs7537756	1	854250	AA
rs13302982	1	861808	GG
rs376747791	1	863130	AA
rs2880024	1	866893	CT
rs13302914	1	868404	TT
rs76723341	1	872952	CC
rs2272757	1	881627	AG
rs35471880	1	881918	GG
rs67274836	1	884767	GG
rs3828049	1	889238	GG
rs77608078	1	891277	CC
rs13303229	1	897564	CC
rs3935066	1	900730	AA
rs6669800	1	903321	AA
rs35241590	1	904752	TT
rs28561399	1	910473	AG
rs3748588	1	911101	CC
rs186101910	1	914749	CC
rs41285816	1	917640	GG
rs2341354	1	918573	AG
rs6605059	1	919419	CC
rs4970414	1	919501	GT
rs116781904	1	919855	GG
rs61770779	1	919927	GG
rs202075563	1	949472	GG
rs148041041	1	949491	GG
rs2799064	1	957898	GT
rs28591569	1	959509	TT
rs3121578	1	974894	CT
rs199563268	1	978642	GG
rs138288952	1	978762	GG
rs144164397	1	978804	CC
rs79016973	1	978974	GG
rs143324306	1	979397	GG
rs113288277	1	979748	AA
rs146243145	1	980868	GG
rs200684031	1	981139	GG
rs202061838	1	981244	GG
rs776599467	1	981860	GG
rs149268246	1	982968	CC
rs149762107	1	983005	GG
rs148948883	1	983040	GG
rs142620337	1	983243	CC
rs111818381	1	984971	GG
rs2275811	1	985460	TT
rs143143061	1	985905	CC
rs145444272	1	986165	GG
rs145116277	1	986963	CC
rs113261977	1	987253	CC
rs74223856	1	988902	CC
rs2465136	1	990417	CT
rs7526076	1	998395	AA
rs113592356	1	1004331	CC
rs9442372	1	1018704	AA
rs115723010	1	1022223	GG
rs114326054	1	1022423	GG
rs61766340	1	1023114	GG
rs12132100	1	1023788	CC

In [ ]:
df_twins = df_kiana.merge(df_diana, how='inner', on="rsid", suffixes=("_k", "_d"))

In [ ]:
df_twins_complete = df_twins.query("genotype_k != '--' and genotype_d != '--'")

##**Results**

We merged our two datasets indexing on the SNP column and calculated the number of rows in which we had the same genotype. The results indicate our DNA is 99.99% identical.

In [ ]:
df_twins_complete.loc[:, "match"] = df_twins_complete["genotype_k"] == df_twins_complete["genotype_d"]

In [ ]:
sum(df_twins_complete["match"]) / df_twins_complete.shape[0]

0.9999190118145564

##**What about the 0.001% that's different?**

The table below shows the small subset of SNPs at which we have different genotypes. These differences are most likely due to sequencing errors; however, we investigated any clinical significance they may hold. We used the Single Nucleotide Polymorphism Database (dbSNP https://www.ncbi.nlm.nih.gov/snp/) hosted by the National Library of Medicine to uncover any meaning behind these SNPs.

In [ ]:
df_twins_complete.loc[df_twins_complete["match"] == False, :]

,rsid,chr_k,pos_k,genotype_k,chr_d,pos_d,genotype_d,match
39733,rs12043779,1,209028440,CC,1,209028440,CT,False
53972,rs4589755,2,17191807,CT,2,17191807,CC,False
97203,rs10180116,2,229307294,CC,2,229307294,CT,False
107597,rs1463581,3,22106472,CC,3,22106472,CT,False
113624,rs74783035,3,48658844,CT,3,48658844,CC,False
117962,rs115957924,3,67613466,CC,3,67613466,AC,False
123644,rs2713692,3,104058316,CC,3,104058316,CT,False
132391,rs35888352,3,147528677,GG,3,147528677,GT,False
132949,rs7617031,3,149004527,GG,3,149004527,AG,False
138598,rs116779868,3,176260376,AG,3,176260376,GG,False
141587,rs7620609,3,188874932,AC,3,188874932,AA,False
155907,rs75050528,4,48793914,AA,4,48793914,AG,False
157729,rs72639356,4,61353462,GG,4,61353462,AG,False
161162,rs4975079,4,80146406,AA,4,80146406,AC,False
164149,rs2006927,4,95535586,GG,4,95535586,GT,False
164460,rs116527648,4,96781995,GG,4,96781995,AG,False
168147,rs34636204,4,117504213,CT,4,117504213,CC,False
186415,rs4702534,5,8215439,AC,5,8215439,CC,False
194541,rs1388111,5,52945258,CT,5,52945258,CC,False
212900,rs7718263,5,149174466,GG,5,149174466,AG,False
224598,rs5019533,6,12659389,GT,6,12659389,GG,False
229517,rs28728979,6,29818165,AC,6,29818165,CC,False
229870,rs9261084,6,29969223,CT,6,29969223,CC,False
233060,rs9265695,6,31301498,CC,6,31301498,CT,False
235285,rs1130151,6,32610935,AG,6,32610935,AA,False
235328,rs17212223,6,32651540,CT,6,32651540,CC,False
239829,rs6458481,6,45955301,AG,6,45955301,GG,False
268301,rs2908726,7,12076657,CT,7,12076657,TT,False
279943,rs77238828,7,66806883,AA,7,66806883,GG,False
299948,rs3817698,8,2024405,AG,8,2024405,GG,False
326501,rs28405329,8,128612021,AG,8,128612021,GG,False
343885,rs116323640,9,83458265,AG,9,83458265,GG,False
350521,rs73657220,9,113749580,GG,9,113749580,AG,False
367984,rs17159119,10,46215766,CT,10,46215766,CC,False
368671,rs11006160,10,52328430,AC,10,52328430,AA,False
393665,rs116588414,11,20437796,GG,11,20437796,AG,False
395013,rs1387488,11,26045753,AG,11,26045753,GG,False
400753,rs61892579,11,58648481,CC,11,58648481,CT,False
406183,rs10898105,11,83071905,CC,11,83071905,CT,False
449002,rs6490689,13,22552329,CC,13,22552329,CT,False
462760,rs9546120,13,83038428,CT,13,83038428,TT,False
476710,rs7142700,14,48302628,AG,14,48302628,GG,False
499772,rs199766690,15,64427004,AG,15,64427004,GG,False
510727,rs72768370,16,4594232,GG,16,4594232,AA,False
534374,rs2127996,17,14269747,GG,17,14269747,AG,False
541132,rs1107946,17,48280990,CC,17,48280990,AC,False
541708,rs75988099,17,51166525,TT,17,51166525,CT,False
576850,rs10406421,19,44313882,GT,19,44313882,GG,False
591629,rs79453007,20,45568023,CC,20,45568023,CT,False
599180,rs2828842,21,25490765,CT,21,25490765,CC,False

# **Conclusion**

We performed this data analysis to assess whether we are actually twins. The results showed that out of nearly 640,000 SNPs in our genomes, we differ in 50 of them. We cannot conclude if these differences are due to errors in genotyping or if these are actual differences. We did not find significant clinical correlations linked to these SNPs in the SNP database.

Because 23andMe uses genotyping instead of sequencing, there may be other portions of our genome that differ which we were not able to compare with this data. Regardless, our genomes are much more similar than siblings, parent-child relationships, or paternal twins - which have about 50% in common. There may also be differences in other parts of our genome that were not included in these SNPs. Whole genome sequencing would be necessary to draw conclusions about the entirety of our DNA.

Other factors that may affect our genetic profiles is the variable expression of DNA. For example, DNA methylation represses transcription into RNA. 23andMe does not provide this epigenetic data, which may influence differences between our appearances.